extends ../../../../templates/master

block content
        hr
        h1 Admin:
        hr
        br
        a(class = "button" , href = 'validate') Add a Category 
        br
        a(class = "button" , href = 'validateEdit') Edit a Category

        