extends ./adminNav


    block content
        hr
        h1 Welcome User!
        p Username and their email if you want to contact them:
        hr
        br
        ul
            
            <table class="table">
            <thead class="thead-inverse">
                tb
                    th User ID
                    th Username
                    th Email
            each usery in user
                tr  
                    td= usery.user_id
                    td= usery.user_username
                    td= usery.user_email

            