
html
    head
        title Welcome User!

        link(rel="stylesheet" href="/assets/bootstrap/bootstrap.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel="icon" type="image/gif" href="/assets/favicon/chat-2-icon.png")
        link(rel="stylesheet" href="/assets/css/layout.css")
    body
        block body